
@charset "UTF-8";
html,body { margin: 0; padding: 0; color: $color-black; background: $color-bg; font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif; -webkit-font-smoothing: antialiased; }
img {display: block; border: 0; vertical-align: middle;margin: 0 auto; will-change: transform; }

.flex {display: -webkit-box;display: -webkit-flex;display: flex;}
.flex-item {-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}

/* @media screen and (min-width: 0) and (max-width: 1440px){
	.header{width:1440px;}
	.home{width:1440px;}
    .main{
    	width:1210px;
    }
} */

.main{
	
}

/* 右边主框样式 */
.main-content{
}

.text-success{color: $color-success;}
.text-warning{color: $color-warning;}
.text-danger{color: $color-danger;}
.text-info{color: $color-info;}

.bg-success{color:#ffffff; background: $color-success;}
.bg-warning{color:#ffffff; background: $color-warning;}
.bg-danger{color:#ffffff; background: $color-danger;}
.bg-info{color:#ffffff; background: $color-info;}


